# Archivos de configuración de IntelliJ IDEA
.idea/
*.iml
/shelf/
/workspace.xml
/mavenHomeManager.xml

# Carpeta de compilación de Maven (la más importante a ignorar)
/target/

# Archivos de log
*.log